<div class="container">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">Add Names Below</h1>
      <div class>
        <div class="form-group">
          <input
            class="form-control"
            #inputName
            type="text"
            placeholder="Employee Name"
          />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" (click)="onClick(inputName.value)">
            Add Employee
          </button>
        </div>
      </div>
      <div>
        <app-employee-detail [names]="names"></app-employee-detail
        >
      </div>
    </div>
  </div>
</div>
